<section>
  <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input matInput type="text" id="email" name="email" placeholder="enter email" required email ngModel
        #emailInput="ngModel">
      <mat-hint>Enter email</mat-hint>
      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput type="password" id="password" name="password" placeholder="enter password" autocomplete="false"
        required minlength="6" ngModel #pwdInput="ngModel">
      <mat-hint>Enter password</mat-hint>
      <mat-error *ngIf="pwdInput.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="pwdInput.hasError('minlength')">Password should contain at least 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="birthdate">Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" id="birthdate" name="birthdate" placeholder="enter birth date" required
        [max]="maxDate" ngModel>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox required ngModel name="agree">I agree to terms and conditions</mat-checkbox>

    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Signup</button>
    </div>
  </form>
</section>